* {
    margin: 0px;
    padding: 0px;
}

/*--- JOGO ---*/
#jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.linhas {
    display: flex;
}
.celula {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: honeydew;
    border: 1px solid red;
}
/*--- BLOCO TETRIS ---*/
.bloco {

    border: 1px solid black;
    background-color: darkblue;
}